nnoremap <SPACE> <Nop>
let mapleader=" "

set commentary
set highlightedyank
set showcmd
set surround
set mini-ai
set matchit
set functiontextobj
set which-key

" Disable which-key timeout, i.e. show the menu until you press a key
set notimeout

" Show the menu also for default Vim actions like `gg` or `zz`.
let g:WhichKey_ShowVimActions = "true"


" --------------------------------------------
" ------------------ Keymap ------------------
" --------------------------------------------

" Indent keeping selection
xnoremap < <gv
xnoremap > >gv
xnoremap = =gv

" Put without yank
xnoremap p P
xnoremap P p

" ------------------ General ------------------
nnoremap <leader>r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <leader>rp :action ExternalSystem.RefreshAllProjects<CR>
nnoremap <leader>cd :action CompileDirty<CR>

nnoremap <leader>f :action ShowNavBar<CR>
nnoremap <leader>s :action FileStructurePopup<CR>
nnoremap <leader>z :action ToggleZenMode<CR>
nnoremap <leader>p :action TogglePresentationMode<CR>

nnoremap <leader><leader> :action SearchEverywhere<CR>

nnoremap <leader>ff :action SelectInProjectView<CR>
nnoremap <leader>fe :action FocusEditor<CR>


" ------------------ Window ------------------
nnoremap <leader>ww <C-W>w
nnoremap <leader>wd <C-W>c
nnoremap <leader>wj <C-W>j
nnoremap <leader>wk <C-W>k
nnoremap <leader>wh <C-W>h
nnoremap <leader>wl <C-W>l
nnoremap <leader>ws <C-W>s
nnoremap <leader>wv <C-W>v
nnoremap <leader>st :action ActivateTerminalToolWindow<CR>

" ------------------ Nav ------------------
nnoremap <C-l> VimNextTabAction<CR>
nnoremap <leader>sf :action GotoFile<cr>

" ------------------ Code ------------------
nnoremap = :action ReformatCode<CR>
vnoremap = :action ReformatCode<CR>

nnoremap <leader>oi :action OptimizeImports<CR>
vnoremap <leader>oi :action OptimizeImports<CR>

nnoremap <leader>fu :action FindUsages<CR>
vnoremap <leader>fu :action FindUsages<CR>

nnoremap <leader>rn :action RenameElement<CR>
vnoremap <leader>rn :action RenameElement<CR>

nnoremap <leader>im :action Inline<CR>
vnoremap <leader>im :action Inline<CR>

nnoremap <leader>iv :action IntroduceVariable<CR>
vnoremap <leader>iv :action IntroduceVariable<CR>

nnoremap <leader>ic :action IntroduceConstant<CR>
vnoremap <leader>ic :action IntroduceConstant<CR>

nnoremap <leader>ip :action IntroduceParameter<CR>
vnoremap <leader>ip :action IntroduceParameter<CR>

nnoremap <leader>ifp :action IntroduceFunctionalParameter<CR>
vnoremap <leader>ifp :action IntroduceFunctionalParameter<CR>

nnoremap <leader>em :action ExtractMethod<CR>

nnoremap <leader>nc :action NewClass<CR>
nnoremap <leader>nd :action NewDir<CR>

nnoremap <leader>rct :action RunClass<CR>
nnoremap <leader>rrft :action RerunFailedTests<CR>

" ----------------- Java --------------------
nnoremap <leader>eg :action Gradle.ExecuteTask<CR>

